.pagination {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-content: center;
  bottom: 0rem;
  width: 100%;
  height: calc(33% + 5rem);
  pointer-events: none;
}

.pagination__arrow {
  font-size: calc(1rem + 2vmin);
  cursor: pointer;
  margin: 0 1rem;
  pointer-events: all;
  color: var(--clr-dark);
  border-radius: 5rem;
  background-color: var(--clr-trans);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.575);
}
