.about {
  display: flex;
  flex-direction: column;
  /* justify-content: center;    */
  align-items: center;
  margin: 1rem 0;
}

.about__title {
  font-size: 2rem;
  /* margin: 1rem 0; */
  margin-bottom: 2rem;
}

.about__image {
  max-height: 60vh;
}
.about__description {
  margin: 2rem 0;
}
