.nav {
  background-color: var(--clr-bg);
  display: grid;
  position: fixed;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  padding: 2rem;
  justify-content: center;
  width: 100%;
  z-index: 10;
}
.nav__logo {
  justify-self: flex-start;
}
.nav__links {
  /* #D30C7B */
  background-color: var(--clr-bg);
  display: flex;
  /* justify-content: center; */
  justify-self: center;
}

.nav__item {
  margin: 0 1rem;
  color: var(--clr-dark);
  text-decoration: none;
}
